@font-face {
  font-family: 'Sirba';
  src: url('~/assets/fonts/Sirba-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Sirba';
  src: url('~/assets/fonts/Sirba-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Sirba';
  src: url('~/assets/fonts/Sirba-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Sirba';
  src: url('~/assets/fonts/Sirba-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Trola';
  src: url('~/assets/fonts/Trola-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Trola';
  src: url('~/assets/fonts/Trola-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Trola';
  src: url('~/assets/fonts/Trola-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Trola';
  src: url('~/assets/fonts/Trola-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
