@import 'tailwindcss';
@import './fonts.css';
@import './print.css';

@source '../../../content/**/*';

@theme static {
  --font-sans: 'Sirba', ui-serif, serif;
  --font-serif: 'Sirba', ui-serif, serif;
  --font-display: 'Trola', ui-serif, serif;
}
